In [616]:
import pandas as pd
import numpy as np

In [617]:
data = pd.read_csv(r'E:/ML Notes/Melbourne_housing_FULL.csv')

In [618]:
data.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Price
0,Abbotsford,68 Studley St,2,h,SS,Jellis,03-09-2016,2.5,3067.0,2.0,...,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,NaN
1,Abbotsford,85 Turner St,2,h,S,Biggin,03-12-2016,2.5,3067.0,2.0,...,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0,1480000.0
2,Abbotsford,25 Bloomburg St,2,h,S,Biggin,04-02-2016,2.5,3067.0,2.0,...,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0,1035000.0
3,Abbotsford,18/659 Victoria St,3,u,VB,Rounds,04-02-2016,2.5,3067.0,3.0,...,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0,NaN
4,Abbotsford,5 Charles St,3,h,SP,Biggin,04-03-2017,2.5,3067.0,3.0,...,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0,1465000.0

In [619]:
data.shape

(34857, 21)

In [620]:
data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
Price             7610
dtype: int64

In [621]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Method         34857 non-null  object
 5   SellerG        34857 non-null  object
 6   Date           34857 non-null  object
 7   Distance       34856 non-null  float64
 8   Postcode       34856 non-null  float64
 9   Bedroom2       26640 non-null  float64
 10  Bathroom       26631 non-null  float64
 11  Car            26129 non-null  float64
 12  Landsize       23047 non-null  float64
 13  BuildingArea   13742 non-null  float64
 14  YearBuilt      15551 non-null  float64
 15  CouncilArea    34854 non-null  object
 16  Lattitude      26881 non-null  float64
 17  Longtitude     26881 non-null  float64
 18  Regionname     34854 non-null  object
 19  Propertycount  34854 non-null  float64
 20  Price          27247 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [622]:
data['Distance'] = data['Distance'].fillna(data['Distance'].mean())

In [623]:
data['Postcode'] = data['Postcode'].fillna(data['Postcode'].mean())

In [624]:
data = data.drop(['CouncilArea'],axis=1)

In [625]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Method         34857 non-null  object
 5   SellerG        34857 non-null  object
 6   Date           34857 non-null  object
 7   Distance       34857 non-null  float64
 8   Postcode       34857 non-null  float64
 9   Bedroom2       26640 non-null  float64
 10  Bathroom       26631 non-null  float64
 11  Car            26129 non-null  float64
 12  Landsize       23047 non-null  float64
 13  BuildingArea   13742 non-null  float64
 14  YearBuilt      15551 non-null  float64
 15  Lattitude      26881 non-null  float64
 16  Longtitude     26881 non-null  float64
 17  Regionname     34854 non-null  object
 18  Propertycount  34854 non-null  float64
 19  Price          27247 non-null  float64
dtypes: float64(12), int64(1), object(7)
memory usage: 5.3+ MB

In [626]:
data['Bedroom2'] = data['Bedroom2'].fillna(data['Bedroom2'].mean())
data['Bathroom'] = data['Bathroom'].fillna(data['Bathroom'].mean())
data['Car'] = data['Car'].fillna(data['Car'].mean())
data['Landsize'] = data['Landsize'].fillna(data['Landsize'].mean())
data['BuildingArea'] = data['BuildingArea'].fillna(data['BuildingArea'].mean())
data['YearBuilt'] = data['YearBuilt'].fillna(data['YearBuilt'].mean())
data['Lattitude'] = data['Lattitude'].fillna(data['Lattitude'].mean())
data['Longtitude'] = data['Longtitude'].fillna(data['Longtitude'].mean())

In [627]:
data['Price'] = data['Price'].fillna(data['Price'].median())

In [628]:
data['Regionname'] = data['Regionname'].fillna(data['Regionname'].mode()[0])

In [629]:
data['Propertycount'] = data['Propertycount'].fillna(data['Propertycount'].mean())

In [630]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Method         34857 non-null  object
 5   SellerG        34857 non-null  object
 6   Date           34857 non-null  object
 7   Distance       34857 non-null  float64
 8   Postcode       34857 non-null  float64
 9   Bedroom2       34857 non-null  float64
 10  Bathroom       34857 non-null  float64
 11  Car            34857 non-null  float64
 12  Landsize       34857 non-null  float64
 13  BuildingArea   34857 non-null  float64
 14  YearBuilt      34857 non-null  float64
 15  Lattitude      34857 non-null  float64
 16  Longtitude     34857 non-null  float64
 17  Regionname     34857 non-null  object
 18  Propertycount  34857 non-null  float64
 19  Price          34857 non-null  float64
dtypes: float64(12), int64(1), object(7)
memory usage: 5.3+ MB

In [631]:
data = data.drop(['Suburb','Address','SellerG','Date','Longtitude','Lattitude','Postcode','YearBuilt','Bedroom2'],axis=1)

In [632]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          34857 non-null  int64
 1   Type           34857 non-null  object
 2   Method         34857 non-null  object
 3   Distance       34857 non-null  float64
 4   Bathroom       34857 non-null  float64
 5   Car            34857 non-null  float64
 6   Landsize       34857 non-null  float64
 7   BuildingArea   34857 non-null  float64
 8   Regionname     34857 non-null  object
 9   Propertycount  34857 non-null  float64
 10  Price          34857 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 2.9+ MB

In [633]:
x = data.iloc[:,[0,1,2,3,4,5,6,7,8,9,10]]

In [634]:
y = data.iloc[:,-1].values

In [635]:
res1 = pd.get_dummies(x['Type'],drop_first=True)

In [636]:
res2 = pd.get_dummies(x['Method'],drop_first=True)

In [637]:
res3 = pd.get_dummies(x['Regionname'],drop_first=True)

In [638]:
result = pd.concat((res1,res2),axis=1)

In [639]:
result1 = pd.concat((result,res3),axis=1)

In [640]:
x = pd.concat((result1,x),axis=1)

In [641]:
x['Intercept'] = 1

In [642]:
x = x.drop(['Type','Method','Regionname'],axis=1)

In [643]:
x.shape

(34857, 26)

In [644]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [645]:
x.corr()

,t,u,PN,S,SA,SN,SP,SS,VB,W,...,Western Victoria,Rooms,Distance,Bathroom,Car,Landsize,BuildingArea,Propertycount,Price,Intercept
t,1.000000,-0.174085,0.017537,-0.027997,0.004461,-0.012026,-0.003553,0.000890,0.020159,-0.006412,...,-0.019465,-0.041022,-0.025506,0.067184,-0.026424,-0.016250,-0.005327,-0.017845,-0.054382,NaN
u,-0.174085,1.000000,0.009436,-0.045140,-0.002909,-0.031326,0.044993,-0.007763,0.033496,0.019852,...,-0.027145,-0.538242,-0.227374,-0.205213,-0.201689,-0.010947,-0.048325,0.081678,-0.303027,NaN
PN,0.017537,0.009436,1.000000,-0.107919,-0.007627,-0.018710,-0.039066,-0.003036,-0.029542,-0.006668,...,0.026643,-0.000174,0.016886,0.005773,0.004397,-0.000702,-0.001263,-0.012123,-0.023248,NaN
S,-0.027997,-0.045140,-0.107919,1.000000,-0.092334,-0.226492,-0.472915,-0.036751,-0.357617,-0.080724,...,0.003898,-0.016731,0.018868,-0.061940,-0.018954,-0.010685,0.000898,0.000946,0.040237,NaN
SA,0.004461,-0.002909,-0.007627,-0.092334,1.000000,-0.016008,-0.033424,-0.002597,-0.025275,-0.005705,...,-0.004648,-0.005531,0.027770,-0.005062,0.006090,0.006641,-0.001494,-0.001867,-0.006533,NaN
SN,-0.012026,-0.031326,-0.018710,-0.226492,-0.016008,1.000000,-0.081988,-0.006372,-0.061999,-0.013995,...,-0.006153,0.034152,0.020833,0.007925,0.007183,-0.002389,0.001675,-0.001240,-0.048791,NaN
SP,-0.003553,0.044993,-0.039066,-0.472915,-0.033424,-0.081988,1.000000,-0.013304,-0.129454,-0.029221,...,0.005935,-0.044124,0.002905,-0.021903,-0.010717,-0.006926,-0.007322,-0.016525,-0.097261,NaN
SS,0.000890,-0.007763,-0.003036,-0.036751,-0.002597,-0.006372,-0.013304,1.000000,-0.010060,-0.002271,...,-0.001850,0.005418,0.018241,0.006887,0.006452,0.001733,0.001885,0.003725,-0.007917,NaN
VB,0.020159,0.033496,-0.029542,-0.357617,-0.025275,-0.061999,-0.129454,-0.010060,1.000000,-0.022097,...,-0.010979,0.006499,-0.075585,0.048221,0.002064,0.015366,0.001941,-0.014514,0.076109,NaN
W,-0.006412,0.019852,-0.006668,-0.080724,-0.005705,-0.013995,-0.029221,-0.002271,-0.022097,1.000000,...,0.010175,-0.006046,0.031150,0.004773,0.012333,0.010729,-0.001611,0.005329,-0.017390,NaN
Eastern Victoria,-0.021591,-0.035629,0.015156,-0.021649,0.020050,0.000720,0.015789,0.008471,0.003335,0.019591,...,-0.004668,0.042537,0.272955,0.025251,0.028127,0.031919,0.001894,0.025709,-0.036058,NaN
Northern Metropolitan,0.011322,0.005110,-0.025733,0.036549,-0.012792,-0.019256,0.008568,-0.009751,-0.033656,-0.004972,...,-0.035361,-0.131972,-0.186780,-0.131748,-0.084114,-0.008692,-0.026609,0.266854,-0.158861,NaN
Northern Victoria,-0.024652,-0.036602,-0.003198,-0.003793,0.003212,0.004607,0.017426,0.021015,-0.005425,0.010690,...,-0.004403,0.037980,0.252678,0.028536,0.036780,0.061537,0.071197,-0.053501,-0.046304,NaN
South-Eastern Metropolitan,-0.007207,-0.046330,0.006525,-0.001335,0.007757,0.006424,0.002541,0.004939,-0.025920,0.025068,...,-0.013184,0.059922,0.439851,0.020014,0.063721,0.002928,0.003250,-0.032664,-0.054049,NaN
Southern Metropolitan,0.023162,0.157624,0.006078,-0.000727,0.003200,-0.002959,-0.052898,-0.004200,0.066827,-0.026514,...,-0.041262,-0.042292,-0.253183,0.082088,-0.023095,-0.010218,0.008641,-0.010582,0.298143,NaN
Western Metropolitan,-0.010564,-0.084943,0.000714,-0.014339,-0.007291,-0.026158,0.064393,-0.011320,-0.030291,0.023960,...,-0.028321,0.028452,-0.018134,-0.033603,0.031797,-0.005993,-0.006489,-0.164255,-0.145043,NaN
Western Victoria,-0.019465,-0.027145,0.026643,0.003898,-0.004648,-0.006153,0.005935,-0.001850,-0.010979,0.010175,...,1.000000,0.015698,0.167194,-0.013419,0.020647,0.007601,-0.003741,-0.044910,-0.050892,NaN
Rooms,-0.041022,-0.538242,-0.000174,-0.016731,-0.005531,0.034152,-0.044124,0.005418,0.006499,-0.006046,...,0.015698,1.000000,0.271511,0.529191,0.337780,0.030136,0.098468,-0.071675,0.391636,NaN
Distance,-0.025506,-0.227374,0.016886,0.018868,0.027770,0.020833,0.002905,0.018241,-0.075585,0.031150,...,0.167194,0.271511,1.000000,0.111939,0.211768,0.048717,0.050110,-0.018140,-0.181801,NaN
Bathroom,0.067184,-0.205213,0.005773,-0.061940,-0.005062,0.007925,-0.021903,0.006887,0.048221,0.004773,...,-0.013419,0.529191,0.111939,1.000000,0.305530,0.034007,0.107991,-0.028168,0.312037,NaN
Car,-0.026424,-0.201689,0.004397,-0.018954,0.006090,0.007183,-0.010717,0.006452,0.002064,0.012333,...,0.020647,0.337780,0.211768,0.305530,1.000000,0.034846,0.074810,-0.008171,0.150389,NaN
Landsize,-0.016250,-0.010947,-0.000702,-0.010685,0.006641,-0.002389,-0.006926,0.001733,0.015366,0.010729,...,0.007601,0.030136,0.048717,0.034007,0.034846,1.000000,0.085636,-0.014453,0.026229,NaN
BuildingArea,-0.005327,-0.048325,-0.001263,0.000898,-0.001494,0.001675,-0.007322,0.001885,0.001941,-0.001611,...,-0.003741,0.098468,0.050110,0.107991,0.074810,0.085636,1.000000,-0.015003,0.063438,NaN
Propertycount,-0.017845,0.081678,-0.012123,0.000946,-0.001867,-0.001240,-0.016525,0.003725,-0.014514,0.005329,...,-0.044910,-0.071675,-0.018140,-0.028168,-0.008171,-0.014453,-0.015003,1.000000,-0.052824,NaN
Price,-0.054382,-0.303027,-0.023248,0.040237,-0.006533,-0.048791,-0.097261,-0.007917,0.076109,-0.017390,...,-0.050892,0.391636,-0.181801,0.312037,0.150389,0.026229,0.063438,-0.052824,1.000000,NaN
Intercept,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [646]:
VIF = pd.DataFrame()

In [647]:
VIF['Variables'] = x.columns

In [648]:
VIF

                     Variables
0                            t
1                            u
2                           PN
3                            S
4                           SA
5                           SN
6                           SP
7                           SS
8                           VB
9                            W
10            Eastern Victoria
11       Northern Metropolitan
12           Northern Victoria
13  South-Eastern Metropolitan
14       Southern Metropolitan
15        Western Metropolitan
16            Western Victoria
17                       Rooms
18                    Distance
19                    Bathroom
20                         Car
21                    Landsize
22                BuildingArea
23               Propertycount
24                       Price
25                   Intercept

In [649]:
VIF['vif'] = [vif(x.values,i) for i in range(x.shape[1])]

In [650]:
VIF

                     Variables        vif
0                            t   1.108285
1                            u   1.707341
2                           PN   1.056887
3                            S   2.223027
4                           SA   1.041913
5                           SN   1.236205
6                           SP   1.771240
7                           SS   1.007816
8                           VB   1.506336
9                            W   1.034119
10            Eastern Victoria   1.152112
11       Northern Metropolitan   2.794250
12           Northern Victoria   1.138881
13  South-Eastern Metropolitan   1.523284
14       Southern Metropolitan   2.833866
15        Western Metropolitan   2.223795
16            Western Victoria   1.064244
17                       Rooms   2.205071
18                    Distance   2.235897
19                    Bathroom   1.529039
20                         Car   1.192828
21                    Landsize   1.014601
22                BuildingArea   1.027048
23               Propertycount   1.118714
24                       Price   1.644469
25                   Intercept  48.282783

In [651]:
x = x.drop(['Intercept'],axis=1)

In [652]:
from sklearn.model_selection import train_test_split

In [653]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.25,
                                                 random_state=0)

In [654]:
from sklearn.linear_model import LinearRegression

In [655]:
mr = LinearRegression()

In [656]:
mr.fit(x_train,y_train)

LinearRegression()

In [657]:
y_pred = mr.predict(x_test)

In [658]:
y_pred

array([ 857000.,  870000., 1000000., ..., 1518000.,  760000.,  455000.])

In [659]:
y_test

array([ 857000.,  870000., 1000000., ..., 1518000.,  760000.,  455000.])

In [660]:
from sklearn.metrics import r2_score

In [661]:
r2_scores = r2_score(y_pred,y_test)

In [662]:
r2_scores*100

100.0

In [663]:
adj_r2score = 1 - ((1-r2_scores)*(8714/8685))

In [664]:
adj_r2score*100

100.0